@model List<Presentation.Areas.Admin.Models.DestinationViewModel>
@{
    ViewData["Title"] = "Danh sách địa điểm";
}


<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách Địa Điểm</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Destinations
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>District</th>
                                <th>Ward</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th >STT</th>
                                <th>Image</th>
                                <th >Name</th>
                                <th >Description</th>
                                <th >Category</th>
                                <th>Address</th>
                                <th >City</th>
                                <th >District</th>
                                <th >Ward</th>
                                <th >Country</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for(int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@(i+1)</td>
                                    <td><img src="~/assetPrivate/img/destination/@Model[i].Image" alt="@Model[i].Image" style="width:150px;height:100px; object-fit:cover" /></td>
                                    <td>@Model[i].Name</td>
                                    <td>@Model[i].Description</td>
                                    <td>@Model[i].Category</td>
                                    <td>@Model[i].Address</td>
                                    <td>@Model[i].SelectedCity</td>
                                    <td>@Model[i].SelectedDistrict</td>
                                    <td>@Model[i].SelectedWard</td>
                                    <td>@Model[i].Country</td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <a class="btn btn-primary btn-round ms-auto"
                       asp-area="Admin"
                       asp-action="Create"
                       asp-controller="Destination">
                        <i class="fa fa-plus"></i>
                        Thêm địa điểm
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>District</th>
                                <th>Ward</th>
                                <th>Country</th>
                                <th class="w-10">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>District</th>
                                <th>Ward</th>
                                <th>Country</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td><img src="~/assetPrivate/img/destination/@Model[i].Image" alt="@Model[i].Image" style="width:150px;height:100px; object-fit:cover" /></td>
                                    <td>@Model[i].Name</td>
                                    <td>@Model[i].Description</td>
                                    <td>@Model[i].Category</td>
                                    <td>@Model[i].Address</td>
                                    <td>@Model[i].SelectedCity</td>
                                    <td>@Model[i].SelectedDistrict</td>
                                    <td>@Model[i].SelectedWard</td>
                                    <td>@Model[i].Country</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-DestinationID=@Model[i].DestinationID
                                               asp-controller="Destination"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-DestinationID=@Model[i].DestinationID
                                               asp-controller="Destination"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

