@model Application.DTOs.TourHotelDto.TourHotelCreationDto
@{
    ViewData["Title"] = "Thêm Hotel vào tour";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Thêm Hotel vào Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Tour"
               asp-action="Index">
                Tours
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home ">
            <a asp-area="Admin"
               asp-controller="TourHotel"
               asp-action="Index">
                @Model.TourID
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-home active">
            Hotel Create
        </li>
    </ul>
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="TourID" value="@Model.TourID" />
    <!-- Khách sạn -->
    <div class="form-group">
        <label asp-for="HotelID">Chọn khách sạn:</label>
        <select asp-for="HotelID" class="form-select"required>
            <option value="">-- Chọn khách sạn --</option>
            @foreach (var hotel in ViewBag.Hotels)
            {
                    <option value="@hotel.HotelID">@hotel.Name</option>
            }
        </select>
        <span asp-validation-for="HotelID" class="text-danger"></span>
    </div>

    <!-- Ngày bắt đầu -->
    <div class="form-group">
        <label asp-for="StartDate">Chọn ngày bắt đầu:</label>
        <input asp-for="StartDate" type="datetime-local" class="form-control" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <!-- Ngày kết thúc -->
    <div class="form-group">
        <label asp-for="EndDate">Chọn ngày kết thúc:</label>
        <input asp-for="EndDate" type="datetime-local" class="form-control" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <!-- Nút lưu và hủy -->
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="TourHotel" asp-action="Index" asp-route-TourID="@Model.TourID" class="btn btn-secondary">Hủy</a>
</form>

