    @model Application.DTOs.TourDestinationDTOs.TourDestinationCreationDto
    @{
        ViewData["Title"] = "Thêm địa điểm vào tour";
    }

    <div class="page-header">
        <h3 class="fw-bold mb-3">Thêm Địa điểm Tour</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="Admin"
                   asp-controller="Home"
                   asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-home">
                <a asp-area="Admin"
                   asp-controller="Tour"
                   asp-action="Index">
                    Tours
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-home">
                <a asp-area="Admin"
                   asp-controller="TourDestination"
                   asp-route-TourID="@Model.TourID"
                   asp-action="Index">
                    @Model.TourID
                </a>
            </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            <li class="nav-item active">
                    Destinaton Create
                </li>
        </ul>
    </div>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="TourID" value="@Model.TourID" type="hidden"/>

        <div class="form-group">
            <label asp-for="DestinationID">Chọn địa điểm:</label>
        <select asp-for="DestinationID" class="form-control" asp-items="@ViewBag.Destinations" Required>
                <option value="" selected disabled>-- Chọn địa điểm --</option>
            </select>
            <span asp-validation-for="DestinationID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="VisitDate"></label>
        <input asp-for="VisitDate" type="datetime-local" class="form-control" value="@Model.VisitDate.ToString("yyyy-MM-ddTHH:mm")">
            <span asp-validation-for="VisitDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
        <a asp-area="Admin" asp-controller="TourDestination" asp-action="Index" asp-route-TourID="@Model.TourID" class="btn btn-secondary">Hủy</a>
    </form>

    

