@model List<Application.DTOs.TourDTOs.TourViewModel>
@{
    ViewData["Title"] = "Danh sách Tour";
}
<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
            asp-controller="Home"
            asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Tours
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                    class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>
                                <th>AvaiableSeats</th>
                                <th>Category</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>
                                <th>AvaiableSeats</th>
                                <th>Category</th>
                                <th>City</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for(int i = 0;i<Model.Count;i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td><img src="~/assetPrivate/img/tour/@Model[i].Image" alt="@Model[i].Image" style="width:150px;height:100px; object-fit:cover"/></td>
                                    <td>@Model[i].Title</td>
                                    <td>@Model[i].Description</td>
                                    <td>@Model[i].StartDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model[i].EndDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@string.Format("{0:N0}₫", Model[i].Price)</td>
                                    <td>@Model[i].AvailableSeats</td>
                                    <td>@Model[i].Category</td>
                                    <td>@Model[i].City</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <a class="btn btn-primary btn-round ms-auto"
                       asp-area="Admin"
                       asp-action="Create"
                       asp-controller="Tour">
                        <i class="fa fa-plus"></i>
                        Thêm Tour
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>
                                <th>AvaiableSeats</th>
                                <th>Category</th>
                                <th>City</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Price</th>
                                <th>AvaiableSeats</th>
                                <th>Category</th>
                                <th>City</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td><img src="~/assetPrivate/img/tour/@Model[i].Image" alt="@Model[i].Image" style="width:150px;height:100px; object-fit:cover" /></td>
                                    <td>@Model[i].Title</td>
                                    <td>@Model[i].Description</td>
                                    <td>@Model[i].StartDate</td>
                                    <td>@Model[i].EndDate</td>
                                    <td>@string.Format("{0:N0}₫", Model[i].Price)</td>
                                    <td>@Model[i].AvailableSeats</td>
                                    <td>@Model[i].Category</td>
                                    <td>@Model[i].City</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a class="btn btn-link btn-primary " type="button"
                                               asp-area="Admin"
                                               asp-route-TourID=@Model[i].TourID
                                               asp-controller="TourEmployee"
                                               asp-action="Index">
                                                <i class="fa fa-user"></i>
                                            </a>

                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-TourID=@Model[i].TourID
                                               asp-controller="TourDestination"
                                               asp-action="Index">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </a>

                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-TourID=@Model[i].TourID
                                               asp-controller="TourHotel"
                                               asp-action="Index">
                                                <i class="fas fa-home"></i>
                                            </a>

                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-TourID=@Model[i].TourID
                                               asp-controller="Tour"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-link btn-primary " type="button"
                                               asp-area="Admin"
                                               asp-route-tourID=@Model[i].TourID
                                               asp-controller="Feedback"
                                               asp-action="Index">
                                                <i class="fas fa-envelope"></i>
                                            </a>

                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-TourID=@Model[i].TourID
                                               asp-controller="Tour"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

