@model List<Presentation.Areas.Admin.Models.BookingViewModel>
@{
    ViewData["Title"] = "Danh sách booking";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách đặt Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Bookings
        </li>
    </ul>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tour Name</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tour Name</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for(int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@(i+1)</td>
                                    <td>@Model[i].Tour.Title</td>
                                    <td>@($"{Model[i].Customer.LastName} {Model[i].Customer.FirstName}")</td>
                                    <td>@Model[i].Customer.Phone</td>
                                    <td>@Model[i].Customer.Email</td>
                                    <td>@Model[i].CreateAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model[i].ModifyAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model[i].Adult</td>
                                    <td>@Model[i].Child</td>
                                    <td>@string.Format("{0:N0}₫", Model[i].TotalPrice)</td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <a class="btn btn-primary btn-round ms-auto"
                       asp-area="Admin"
                       asp-action="Create"
                       asp-controller="Booking">
                        <i class="fa fa-plus"></i>
                        Thêm booking
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tour Name</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tour Name</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Adult</th>
                                <th>Child</th>
                                <th>TotalPrice</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for(int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>@Model[i].Tour.Title</td>
                                    <td>@($"{Model[i].Customer.LastName} {Model[i].Customer.FirstName}")</td>
                                    <td>@Model[i].Customer.Phone</td>
                                    <td>@Model[i].Customer.Email</td>
                                    <td>@Model[i].CreateAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model[i].ModifyAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model[i].Adult</td>
                                    <td>@Model[i].Child</td>
                                    <td>@string.Format("{0:N0}₫", Model[i].TotalPrice)</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-BookingID=@Model[i].BookingID
                                               asp-controller="Booking"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>


                                            <a class="btn btn-link" type="button"
                                               id="paymentButton_@Model[i].BookingID"
                                               asp-area="Admin"
                                               asp-route-BookingID="@Model[i].BookingID"
                                               data-status="@ViewData[$"Status_{Model[i].BookingID}"].ToString().ToLower()"
                                               asp-controller="Payment"
                                               asp-action="checkStatus">
                                                <i class="fas fa-money-check-alt"></i>
                                            </a>
                                            

                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-BookingID=@Model[i].BookingID
                                               asp-controller="Booking"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script>
        $(document).ready(function () {
            $('[id^="paymentButton_"]').each(function () {
                var paymentButton = $(this);

                // Lấy giá trị từ thuộc tính data-status
                var status = paymentButton.data('status');

                var isStatusTrue = status === true;

                if (isStatusTrue) {
                    paymentButton.removeClass('btn-warning').addClass('btn-success');
                    paymentButton.attr('asp-action', 'Create');
                } else {
                    paymentButton.removeClass('btn-success').addClass('btn-warning');
                    paymentButton.attr('asp-action', 'checkStatus');
                }
            });
        });

</script>
}