@model Application.DTOs.FeedbackDTOs.TourFeedbackViewModel
@{
    ViewData["Title"] = "Danh sách Đánh Giá";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách Đánh Giá Tour: @Model.TourName</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item active">
            Feedbacks
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách Filters</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="multi-filter-select"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>  <!-- Thêm cột STT -->
                                <th>Customer Name</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>  <!-- Thêm cột STT -->
                                <th>Customer Name</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0;i < Model.Feedbacks.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>  <!-- Hiển thị số thứ tự -->
                                    <td>@Model.Feedbacks[i].Customer.FirstName @Model.Feedbacks[i].Customer.LastName</td>
                                    <td>@Model.Feedbacks[i].Rating</td>
                                    <td>@Model.Feedbacks[i].Comments</td>
                                    <td>@Model.Feedbacks[i].CreateAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model.Feedbacks[i].ModifyAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Thông tin chi tiết</h4>
                    <a class="btn btn-primary btn-round ms-auto"
                       asp-area="Admin"
                       asp-action="Create"
                       asp-route-TourID="@Model.TourID"
                       asp-controller="Feedback">
                        <i class="fa fa-plus"></i>
                        Thêm đánh giá
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="add-row"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>  <!-- Thêm cột STT -->
                                <th>Customer Name</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th style="width: 10%">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>  <!-- Thêm cột STT -->
                                <th>Customer Name</th>
                                <th>Rating</th>
                                <th>Comments</th>
                                <th>CreateAt</th>
                                <th>ModifyAt</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @for (int i = 0; i < Model.Feedbacks.Count; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>  <!-- Hiển thị số thứ tự -->
                                    <td>@Model.Feedbacks[i].Customer.FirstName @Model.Feedbacks[i].Customer.LastName</td>
                                    <td>@Model.Feedbacks[i].Rating</td>
                                    <td>@Model.Feedbacks[i].Comments</td>
                                    <td>@Model.Feedbacks[i].CreateAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@Model.Feedbacks[i].ModifyAt.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>
                                        <div class="form-button-action">

                                            <a class="btn btn-link btn-primary" type="button"
                                               asp-area="Admin"
                                               asp-route-TourID="@Model.TourID"
                                               asp-route-FeedbackID=@Model.Feedbacks[i].FeedbackID
                                               asp-controller="Feedback"
                                               asp-action="Update">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-link btn-danger " type="button"
                                               asp-area="Admin"
                                               asp-route-TourID="@Model.TourID"
                                               asp-route-FeedbackID=@Model.Feedbacks[i].FeedbackID
                                               asp-controller="Feedback"
                                               asp-action="Delete">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
